<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="utf-8">
        <title>Current music</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    </head>
    <body>
        <!-- Content -->
        <div class="container">
            <h1>Spotify - Wikidata összerendelés</h1>
            <div class="card text-white bg-secondary mb-3">
                <div id="song_card_header" class="card-header">Jelenleg ezt hallgatod</div>
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            <h1 class="display-4" id="song_card_title">A jelenleg hallgatott szám címe</h1>
                            <p class="card-text" id="song_card_content">
                                
                            </p>
                            <ul id="song_card_info_list">
                                
                            </ul>
                            <p>
                                <a href="#" target="_blank" id="song_card_link_wp" class="badge badge-pill badge-light">Wikipedia</a>
                                <a href="#" target="_blank" id="song_card_link_wd" class="badge badge-pill badge-dark">Wikidata</a>
                            </p>
                            <button type="button" class="btn btn-light" onclick="controller.updateSongCard()">mit hallgatok most?</button>
                        </div>
                        <img id="album_cover" class="ml-3" src="https://lh3.googleusercontent.com/UrY7BAZ-XfXGpfkeWg0zCCeo-7ras4DCoRalC_WXXWTK9q5b0Iw7B0YQMsVxZaNB7DM=w300-rw" alt="Album cover">
                    </div>
                </div>
                <hr id="song_card_album_sparator">
                <div id="album_card" class="card-body">
                    <p id="album_card_title" class="h3" >

                    </p>
                    <p id="album_card_content">
                        
                    </p>
                    <ul id="album_card_info_list">
                                
                    </ul>
                    <a href="#" target="_blank" id="album_card_link_wp" class="badge badge-pill badge-light">Wikipedia</a>
                    <a href="#" target="_blank" id="album_card_link_wd" class="badge badge-pill badge-dark">Wikidata</a>
                </div>
                <hr id="album_artist_sparator">
                <div id="artist_card" class="card-body">
                    <p id="artist_card_title" class="h3">
                        
                    </p>
                    <p id="artist_card_content">
                        
                    </p>
                    <ul id="artist_card_info_list">
                                
                    </ul>
                    <a href="#" target="_blank" id="artist_card_link_wp" class="badge badge-pill badge-light">Wikipedia</a>
                    <a href="#" target="_blank" id="artist_card_link_wd" class="badge badge-pill badge-dark">Wikidata</a>
                </div>
            </div>
            <hr>
            <div id="playlist_container" role="tablist">
                <!-- Dynamic content goes here. -->
            </div>
        </div>

        {% csrf_token %}
        {% load static %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" ></script>
        <script src="{% static "model.js" %}" type="text/javascript"></script>
        <script src="{% static "view.js" %}" type="text/javascript"></script>
        <script src="{% static "controller.js" %}" type="text/javascript"></script>
        <script type="text/javascript">
            var controller = Controller() // this name 'controller' referred in the createPlaylistCard method!!
            controller.updateSongCard()
            controller.updatePlaylistCards()
        </script>
    </body>
</html>