<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="utf-8">
        <title>Current music</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    </head>
    <body>
        <!-- Content -->
        <div class="container">
            <h1>Spotify - Wikidata összerendelés</h1>
            <div class="card text-white bg-secondary mb-3">
                <div id="currently_playing_header" class="card-header">Jelenleg ezt hallgatod</div>
                <div class="card-body">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="card-title" id="currently_playing_div">A jelenleg hallgatott szám címe</h4>
                            <p class="card-text">
                                Ide fog majd jönni az a tartalom, amit a Wikidata-tól sikerül összeszedni. Arra gondoltam már, hogy ennyi erővel még egy képet is ki lehetne tenni mert megvannak az albumborítók is. Majd ha lesz idő.
                            </p>
                            <button type="button" class="btn btn-light" onclick="view.updateSongCard()">mit hallgatok most?</button>
                        </div>
                        <img id="album_cover" class="ml-3" src="https://lh3.googleusercontent.com/UrY7BAZ-XfXGpfkeWg0zCCeo-7ras4DCoRalC_WXXWTK9q5b0Iw7B0YQMsVxZaNB7DM=w300-rw" alt="Album cover">
                    </div>
                </div>
            </div>
            <hr>
            <div id="track_cards_div" role="tablist">
                <!-- Dynamic content goes here. -->
            </div>
        </div>

        {% csrf_token %}
        {% load static %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" ></script>
        <script src="{% static "model.js" %}" type="text/javascript"></script>
        <script src="{% static "view.js" %}" type="text/javascript"></script>
        <script type="text/javascript">
            var view = View() // this name 'view' referred in the createPlaylistCard method!!
            view.updateSongCard()
            view.updatePlaylistCards()
        </script>
    </body>
</html>